@import url(tutorials.css);
@import url(about.css);
@import url(menu.css);
@import url(youtube.css);
@import url(footer.css);
@import url(responsive.css);
#hero{
	width: 100%;
	margin-left: 40px;

}
.col-2{
	width: 50%;
	float: left;
}
#contact{
	text-align: center;
	background-color: #f2f4f4;
	height: 700px;
}
input[type=text], textarea{
	width: 80%;
	height: 40px;
	background-color:white ;
	border: 1px solid #999;
	border-radius: 15px;
	margin: 5px 0px;
	direction: rtl;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;


}
textarea{
	height: auto;
}
